.main-btn {
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #ffb001;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	padding: 10px 37px;
	font-size: 14px;
	color: #000;

	&:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
	&_brown {
		&:hover {
			text-decoration: none;
		}
	}
	&_catalog {
		max-width: 200px;
		height: 60px;
		padding: 0 !important;
	}
	@media (max-width: ($md4 + px)) {
		width: 100%;
		height: 56px;
		font-size: 18px;
	}
}

.section {
	&__title {
		font-size: 35px;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		margin: 0px auto 33px auto;
		@media (max-width: ($md3 + px)) {
			font-size: 28px;
			margin-bottom: 28px;
		}
	}

	&__subtitle {
		text-align: center;
		font-size: 22px;
		font-weight: 300;
		text-transform: initial;
		line-height: calc(32 / 22 * 100%);
		margin: 0px auto 55px auto;
		@media (max-width: ($md3 + px)) {
			font-size: 18px;
			margin: 0px auto 25px auto;
		}
	}
}

.swiper-slider {
	height: 100%;
	box-sizing: border-box;
	width: 95%;
	overflow: hidden;
	margin: 0px auto 0px auto;
	@media (max-width: (580px)) {
		width: 300px;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #f6f6f6;

	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.swiper-button-next:after,
.swiper-button-prev:after {
	color: #ffb001;
}

.gray {
	filter: grayscale(100%);
}
.offcanvas-btn {
	display: none;
	@media (max-width: ($md2 + px)) {
		display: flex;
	}
}
.breadcrumbs {
	padding: 146px 0px 0px 0px;
	// .breadcrumbs__container
	@media (max-width: ($md4 + px)) {
		padding: 160px 0px 0px 0px;
	}
	&__container {
		color: #7c7c7c;
		font-size: 15px;
		font-weight: 300;
		a {
			color: #7c7c7c;

			&:hover {
				color: #000;
				border-bottom: 1px solid #791e1d;
			}
		}
	}
}

.arrow {
	animation: arrow 1s linear infinite;
	position: absolute;
}
@keyframes arrow {
	0% {
		bottom: -110;
	}
	50% {
		bottom: -120px;
	}
	100% {
		bottom: -110;
	}
}

.visible-hand {
	display: none;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

@media (max-width: 580px) {
	.swiper-button-next {
		right: 15px;
		left: auto;
	}
	.swiper-button-prev {
		left: 15px;
		right: auto;
	}
}
@media (max-width: ($md4 + px)) {
	.swiper-button-next {
		right: 5px;
		left: auto;
	}
	.swiper-button-prev {
		left: 5px;
		right: auto;
	}
}

.blur {
	background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
	backdrop-filter: blur(2px); // This be the blur
	height: 100%;
	width: 100%;
}
.swiper-slide-thumb-active .blur {
	backdrop-filter: blur(0px); // This be the blur
	background: none;
}
body {
	background-color: #f6f6f6;
}
.modal-content {
	background-color: #f6f6f6;
}
